
div.topbar {
    background-color: #273136 !important;
}

h2,
h3 {
    color: #f5624d !important;
}

.opblock-summary-get > button > span.opblock-summary-method {
    background-color: #354157 !important;
}

.opblock-summary-post > button > span.opblock-summary-method {
    background-color: #7CD5F1 !important;
}

.opblock-summary-delete > button > span.opblock-summary-method {
    background-color: #FF6D7E !important;
}