@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.active-link {
		@apply py-2 px-3 lg:rounded flex items-center gap-2;
	}

	.pending-link {
		@apply py-2 px-3 lg:rounded flex items-center gap-2 *:opacity-65 *:hover:opacity-100;
	}
}

/* *,
*::after,
*::before {
	outline: 2px solid lime;
} */

body {
	background-color: #dbe2ef;
}

/* width */
::-webkit-scrollbar {
	width: 6px;
	height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #a5a5a5;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}
